body {
  background: url(../assets/imgs/yellow_bg_pattern.jpg) no-repeat 0 0/100% 100%;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 59px;
  width: min(1000px, 100%);
  margin: 0 auto 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: var(--sz-lg);
}

.logo {
  font-family: Pacifico;
  background: linear-gradient(
    90deg,
    transparent 78%,
    var(--transparent-black-xsm)
  );
  border-radius: 0 50% 50% 0;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}

#result {
  background-color: var(--transparent-black-xsm);
  padding: var(--sz-sm);
  border-radius: var(--sz-sm);
  color: var(--transparent-white-xsm);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.floating_score {
  font-weight: 900;
  font-size: 2rem;
  transition: 1000ms;
  opacity: 0;
  color: var(--pri-accent);
  background-color: var(--transparent-black-lg);
  border-radius: var(--sz-sm);
  padding: 0 var(--sz-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0) scale(0);
}

.instruction{
  text-align: center;
}

.display_final_result {
  width: 250px;
  height: 150px;
  border-radius: var(--sz-sm);
  background-color: var(--sec-accent);
  border: none;
  box-shadow: var(--bx-shadow);

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &::backdrop {
    background-color: var(--transparent-black-xsm);
    backdrop-filter: blur(3px);
  }
  &:focus {
    outline: none;
  }
}

.display_final_result form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--sz-xsm);
  height: 100%;
  text-align: center;

  button {
    background-color: var(--pri-accent);
    color: var(--white);
    border: none;
    box-shadow: var(--bx-shadow);
    padding: var(--sz-sm) var(--sz-lg);
    border-radius: var(--sz-sm);
  }
}

.active {
  transition: 400ms;
  opacity: 1;
  transform: translate(-50%, 50%) scale(0.7);
}
